.synthetica-articles{
	background-color: $basic6;
	padding: 80px 0;
	.articles-container{
		padding: 0 15px;

		h5{
			display: inline-block;
		}

		h4,h5{
			font: normal normal 400 15px ubuntu;
			margin: 7px 0 65px 0px;
			text-transform: uppercase;
		}
		h4::after{
			background-color: $basic2;
			content: '';
			display: block;
			height: 2px;
			margin-top: 15px;
			width: 30px;
		}

		.inputArticle-Sort{
			@include font-size(13);
			@include border-radius(0);
			@include transition(all 0.3s linear);
			border: none;
			border-bottom: solid 2px $basic2;
			background: url("../../public/images/downArrow.png") no-repeat 280px -4px;
			background-color: none;
			color: rgba(65,74,82,0.5);
			margin-left: 0px;
			padding-bottom: 9px;
			width: 300px;
			-webkit-appearance: none;
			-moz-appearance: none;
		}
		
		.post-image{
			background-position: center;
			background-size: cover;
			height: 225px;
			max-height: 250px;
			overflow: hidden;
			position: relative;

			.overlay{
				background: rgba(65,74,82,0.6);
				height: 100%;
				width: 100%;
			}

			.featured-tag{
				@include font-size(13);
				@include border-radius(40px);
				background-color: $basic2;
				bottom: 10px;
				color: $white;
				left: 10px;
				padding: 4px 10px;
				position: absolute;
				z-index: 99;
			}

		}
		.post-image-one{
			background-image: url("../../public/images/article-01.jpg");
		}
		.post-image-two{
			background-image: url("../../public/images/article-02.jpg");
		}
		.post-image-three{
			background-image: url("../../public/images/article-03.jpg");
		}
		.post-image-four{
			background-image: url("../../public/images/article-04.jpg");
		}
		.post-image-five{
			background-image: url("../../public/images/article-05.jpg");
		}
		.post-image-six{
			background-image: url("../../public/images/article-06.jpg");
		}
		.post-content{
			h2{
				@include font-size(20);
				color: #414A52;
				font-weight: 500;
				line-height: 30px;
				padding: 15px 10px 10px 0;
			}
			p{
				color: $basic1;
				font-size: 15px;
				line-height: 27px;
				padding-bottom: 15px;
			}
		}
	}
}
.article-footer{
	border-top: solid 1px $basic5;
	padding-top: 15px;

	li{
		display: inline-block;
		@include font-size(13);

		i{
			color: $basic1;
		}
	}
	li.article-comments{
		float: right;
		@include clearfix;
	}
}
.article-category{
	a{
		color: #7AE2DE;
	}
}
.fa-comments::before {
	content: "\f086";
}
.container-bottom{
	text-align: center;
	a{
		@include font-size(13);
		border: 2px solid $basic2;
		color: $basic2;
		display: inline-block;
		letter-spacing: 1px;
		line-height: 1;
		margin-top: 70px;
		padding: 15px 20px;
		text-transform: uppercase;
		text-decoration: none;
		
	}
	a:hover{
		background-color: $basic2;
		color: $white;
	}
}
.container-firstRow, .container-secondRow{
	box-sizing: border-box;
}

@media screen and (max-width: 991px){
	.article-post {
		margin-top: 50px;
	}	
}
@media screen and (min-width: 768px){
	.articles-container{
		box-sizing: border-box;
		margin: 0 auto;
		width: 750px;
	}
	.head-heading{
		box-sizing: border-box;
		display: inline-block;
		width: 33%;
	}
	.head-sort{
		box-sizing: border-box;
		display: inline-block;
		float: right;
		text-align: right;
		width: 66%;
	}
	.inputArticle-Sort{
		margin-left: 25px;
	}
}
@media screen and (min-width: 992px){
	.articles-container{
		width: 992px;
	}
	.container-secondRow{
		margin-top: 50px;
	}
	.firstRow-container, .secondRow-container{
		box-sizing: border-box;
		display: inline-table;
		padding: 0 15px;
		width: 33%;
	}
}
