.synthetica-collective {
	padding: 125px 0px;

	.collective-container{
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0px 15px;


		h4{
			font-size: 15px;
			font-weight: 600;
			margin: 7px 0 65px 0px;
			
		}
		h4:after{
			background-color: $basic2;
			content: '';
			display: block;
			height: 2px;
			margin-top: 15px;
			width: 30px;
		}

		.container-collective{
			@include font-size(15);
			font-weight: 600;

			p{
				font-weight: 100;
				padding-bottom: 25px;
			}
			.collective-vedio_player {
				background-color: $basic6;
				display: inline-block;
				height: 300px;
				margin-top: 25px;
				margin-bottom: 50px;
				padding: 10px;
				position: relative;

				video{
					width: 100%;
					height: 280px;
					background-image: url("../../public/images/video-cover.jpg");
				}
				img{
					@include border-radius(50%);
					left: 50%;
					width: 55px;
					height: 55px;
					position: absolute;
					top: 50%;
					transform: translate(-50%,-50%);
				}
				.video-controls{
					background-color: transparent;
					bottom: 0;
					width: 100%;
					height: 51px;
					left: 0;
					position: absolute;
					right: 0;
				}
			}
		}
	}
}
// video{
// 	background-color: $black;
// }
.duration, .current{
	position: absolute;
	top: -19%;
	width: 40px;
	background-color: rgba(255,255,255,0.3);
	border-radius: 10px;
	text-align: center;
	line-height: 32px;
	font-size: 13px;
	color: $white;
}
.duration{
	right: 6%;
}
.current{
	left: 6%;
}

@media screen and (max-width: 640px){
	.synthetica-collective {
		padding: 80px 0;
	}
}
@media screen and (min-width: 768px){
	.collective-container{
		width: 750px;
	}
}
@media screen and (max-width: 768px){
	.collective-container{
		width: auto;
	}
}
@media screen and (max-width: 991px){
	.collective-vedio_player{
		margin: 25px 0 50px 0px;
	}
}
@media screen and (min-width: 640px){
	.collective-vedio_player{
		width: 568px;
	}
}
@media screen and (min-width: 992px){
	.collective-container{
		width: 970px;
		box-sizing: border-box;

		h4{
			display: inline-block;
			float: left;
			margin: 7px 0 65px 60px;
			width: 25%;
		}
		.container-collective{
			display: inline-block;
			width: 67%;

			.collective-vedio_player{
				margin-left: -100px;
			}		
		}
	}
}

@media screen and (min-width: 1200px){
	.collective-container{
		width: 1170px;
	}
}