.synthetica-logo{
	background-color: $basic1;
	display: inline-block;
	text-align: center;
	padding: 30px 0px;

	a{
		display: inline-block;
		height: 100%;
	}

}
.header-synthetica{
	@include clearfix;
	.synthetica-syntheticawrap{
		display: inline-block;
		float: right;
		// position: relative;
	}
}
.syntheticawrap-search{
	@include clearfix;
	background-color: $basic1;
	padding: 32px 30px;
	
	.search-subscribe{
		border-right: solid 1px #505c66;
		color: $basic2;
		display: inline-block;
		padding: 10px 20px 0px 0px;
		@include borderTransition;
		@include font-size(15);
	}

	.fa-search:before{
		content: "\f002";
	}
}
.syntheticawrap-menu{
	span{
		@include borderTransition;
		@include font-size(13);
		border-right: solid 1px $basic5;
		letter-spacing: 1px;
		padding: 5px 20px 0px;
		text-transform: uppercase;
		
		& a{
			font-weight: 600;
			color: $basic1;
			font-family: $font-third;
		}
		& a:hover{
			color: $basic2;
		}
	}
	span:last-child{
		border-right: none;
	}

}
.nav-toggle{
	left: 50%;
	top: 50%;
	padding: 10px 35px 16px 0px;
	position: absolute;
	transform: translate(-50%,-50%);
	span, span:before, span:after{
		background: $white;
		cursor: pointer;
		content: "";
		display: block;
		height: 3px;
		position: absolute;
		width: 35px;
		@include border-radius(1px);
	}
	span:before{
		top: -10px;
	}
	span:after{
		bottom: -10px;
	}
}
@media screen and (min-width: 1200px){
	.synthetica-logo {
		width: 340px;
	}
	.syntheticawrap-menu {
		margin-right: 60px;
	}	
}

@media screen and (max-width: 1200px){
	.synthetica-logo {
		width: 280px;
	}
	.syntheticawrap-search {
		letter-spacing: 1px;
		@include font-size(13);
	}
	.syntheticawrap-menu {
		margin-right: 10px;
	}
}

@media screen and (min-width: 1024px){
	.syntheticawrap-nav{
		visibility: hidden;
	}
	.syntheticawrap-menu, .syntheticawrap-search, .syntheticawrap-menu span {
		display: inline-block;
	}
}

@media screen and (max-width: 1024px){
	.syntheticawrap-nav{
		background-color: $basic1;
		visibility: visible;
		position: absolute;
		top: 0;
		right: 0;
		padding: 52px;
		@include transition(all 300ms ease-in-out);
		
	}
	.syntheticawrap-menu, .syntheticawrap-search .search-searchbar, .syntheticawrap-search .search-subscribe {
		display: none;
	}
	.hiddenSyntheticawrap {
		display: inline-block;
		position: fixed;
		z-index: 9;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: $basic1;

		.search-subscribe{
			@include font-size(30);
			color: $white;
			display: block;
			font-weight: 600;
			padding: 10px 20px;
			padding-bottom: 60px;
			text-align: center;
		}
		.syntheticawrap-search{
			padding: 0;
		}
	}
	.hiddenMenu {
		display: block;
		padding: 100px 0 0;
		text-align: center;
		width: 100%;

		span{
			@include font-size(30);
			padding: 10px 20px;
			display: block;

			a{
				color: $white;
				padding-bottom: 40px;
				display: inline-block;
				&:hover{
					color: $basic2;
				}
			}
			&:after{
				border-bottom: none;
			}

		}		
	}
	.close{
		z-index: 99;
		position: fixed;

		a{
			span{
				background-color: transparent;
			}
			span::before{
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
				top: 0;
			}
			span::after{
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
				bottom: 0;
			}
		}
	}
}
@media screen and (max-width: 480px){
	.header-synthetica{
		border-bottom: solid 5px $basic2;
		background-color: $basic1;
	}
	.synthetica-logo{
		border-bottom: none;
	}
	.syntheticawrap-nav{
		padding: 49px;
	}
}
@media screen and (min-width: 481px){
	.synthetica-logo{
		border-bottom: solid 5px $basic2;
	}
}
