.synthetica-logo{
	display: inline-block;
	background-color: #414A52;
	text-align: center;
	padding: 30px 0px;
	a{
		height: 100%;
		display: inline-block;
	}

}
.header-synthetica{
	@include clearfix;
	.synthetica-syntheticawrap{
		float: right;
		display: inline-block;
		// position: relative;
	}
}
.syntheticawrap-search{
	padding: 32px 30px;
	background-color: #414A52;
	@include clearfix;
	.search-subscribe{
	    padding: 10px 20px 0px 0px;
		border-right: solid 1px #505c66;
	    color: #7AE2DE;
	    display: inline-block;
	    @include borderTransition;
	    font-size: 15px;
	}

	.fa-search:before{
		content: "\f002";
	}
}
.syntheticawrap-menu{
	span{
		@include borderTransition;
		font-size: 13px;
		padding: 5px 20px 0px;
		letter-spacing: 1px;
		text-transform: uppercase;
		border-right: solid 1px #E5E7E9;
		& a{
			font-weight: 600;
			color: #414A52;
			font-family: Raleway,Verdana,Arial,sans-serif;
		}
		& a:hover{
			color: #7AE2DE;
		}
	}
	span:last-child{
		border-right: none;
	}

}
.nav-toggle{
	padding: 10px 35px 16px 0px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	span, span:before, span:after{
		display: block;
		width: 35px;
		height: 3px;
		content: "";
		position: absolute;
		background: #fff;
		border-radius: 1px;
		cursor: pointer;
	}
	span:before{
		top: -10px;
	}
	span:after{
		bottom: -10px;
	}
}
@media screen and (min-width: 1200px){
	.synthetica-logo {
		width: 340px;
	}
	.syntheticawrap-menu {
		margin-right: 60px;
	}	
}

@media screen and (max-width: 1200px){
	.synthetica-logo {
		width: 280px;
	}
	.syntheticawrap-search {
		letter-spacing: 1px;
		font-size: 13px;
	}
	.syntheticawrap-menu {
		margin-right: 10px;
	}
}

@media screen and (min-width: 1024px){
	.syntheticawrap-nav{
		visibility: hidden;
	}
	.syntheticawrap-menu, .syntheticawrap-search, .syntheticawrap-menu span {
		display: inline-block;
	}
}

@media screen and (max-width: 1024px){
	.syntheticawrap-nav{
		visibility: visible;
		position: absolute;
		top: 0;
		right: 0;
		padding: 52px;
		-webkit-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
		background-color: #414A52;
	}
	.syntheticawrap-menu, .syntheticawrap-search .search-searchbar, .syntheticawrap-search .search-subscribe {
		display: none;
	}
	.hiddenSyntheticawrap {
		display: inline-block;
		position: fixed;
		z-index: 9;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: #414A52;
		.search-subscribe{
			display: block;
			padding: 10px 20px;
			display: block;
			font-size: 30px;
			color: #fff;
			padding-bottom: 60px;
			text-align: center;
			font-weight: 600;
		}
		.syntheticawrap-search{
			padding: 0;
		}
	}
	.hiddenMenu {
		width: 100%;
		padding: 100px 0 0;
		text-align: center;
		display: block;
		span{
			padding: 10px 20px;
			display: block;
			font-size: 30px;
			a{
				color: #fff;
				padding-bottom: 40px;
				display: inline-block;
				&:hover{
					color: #7ae2de;
				}
			}
			&:after{
				border-bottom: none;
			}

		}		
	}
	.close{
		z-index: 99;
		position: fixed;
		a{
			span{
				background-color: transparent;
			}
			span::before{
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
				top: 0;
			}
			span::after{
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
				bottom: 0;
			}
		}
	}
}
@media screen and (max-width: 480px){
	.header-synthetica{
		border-bottom: solid 5px #7ae2de;
		background-color: #414A52;
	}
	.synthetica-logo{
		border-bottom: none;
	}
	.syntheticawrap-nav{
		padding: 49px;
	}
}
@media screen and (min-width: 481px){
	.synthetica-logo{
		border-bottom: solid 5px #7AE2DE;
	}
}

@media screen and (min-width: 481) and (max-width: 1024){

}