.synthetica-stats{
	background: url("../../public/images/stats-bg.jpg") no-repeat center center;
	// background-size: auto auto;
	background-size: cover;
	padding: 160px 0px;

	.stats-container{
		padding: 0px 15px;

		.container-stats{
			text-align: left;
		}
		.stats-content:last-child{
			margin-bottom: 0px;
		}
		.stats-content{
			width: 215px;
			margin: 0 auto 100px;
			text-align: left;
			padding: 0px 15px;

			i{
				margin: 0;
				margin-right: 0px;
				padding: 0;
				border: 0;
				font: inherit;
				font-family: inherit;
				font-style: inherit;
				font-weight: inherit;
				font-size: inherit;
				line-height: inherit;
				font-variant-alternates: inherit;
				font-variant-caps: inherit;
				font-variant-east-asian: inherit;
				font-variant-ligatures: inherit;
				font-variant-numeric: inherit;
				font-variant-position: inherit;
				font-size: 100%;
				vertical-align: baseline;
			}

			i.icon {
				font-size: 50px;
				display: inline-block;
				margin-right: 10px;
				vertical-align: 10px;
				color: transparent;
			}
			.icon {
				font-family: 'Stroke-Gap-Icons';
				font-weight: normal;
				font-style: normal;
				font-variant: normal;
				line-height: 1;
				text-transform: none;
				// speak: none;
				// -webkit-font-smoothing: antialiased;
				// -moz-osx-font-smoothing: grayscale;
			}
			.icon-Cup{
				background: url("../../public/images/Cup.png") 0px 0px;
				background-repeat: no-repeat;
				width: 62px;
				height: 60px;
			}
			.icon-Book{
				background: url("../../public/images/Book.png") 0px 0px;
				background-repeat: no-repeat;
				width: 62px;
				height: 60px;
			}
			.icon-Pen{
				background: url("../../public/images/Pen.png") 0px 0px;
				background-repeat: no-repeat;
				width: 62px;
				height: 60px;
			}
			.icon-Cup:before {
				content: '\e628';
			}
			.icon-Book::before {
				content: '\e693';
			}
			.icon-Pen::before {
				content: '\e676';
			}
			.content-wrapper{
				display: inline-block;
				// vertical-align: 22px;

				p.wrapper-number {
					@include font-size(48);
					color: $white;
					font-size: 48px;
					font-family: Montserrat,Georgia,"Times New Roman",serif;
					margin-bottom: 15px;
				}
				p.wrapper-text {
					@include font-size(15);
					color: $white;
					font-weight: 500;
					line-height: .7;
					padding: 0;
					text-transform: uppercase;
				}
			}
		}
	}
}
@media screen and (max-width: 640px){
	.synthetica-stats{
		padding: 80px 0px;
	}
}
@media screen and (min-width: 768px){
	.stats-container{
		box-sizing: border-box;
		margin: 0px auto;
		width: 750px;

		.container-stats{
			box-sizing: border-box;
			.stats-content{
				box-sizing: border-box;	
				display: inline-block;
				margin-bottom: 0px;
				// text-align: center;
				width: 32%;	
			}
		}
	}
}
@media screen and (min-width: 992px){
	.stats-container{
		width: 970px;
	}
}