html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

body {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  cursor: auto;
  overflow-x: hidden; }

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0; }

a:link, a:visited {
  text-decoration: none;
  color: blue;
  cursor: pointer; }

a:hover {
  color: #7AE2DE; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

p {
  font-size: 15px;
  line-height: 27px;
  color: #414A52;
  margin: 0; }

:after, :before {
  box-sizing: border-box; }

h4 {
  font-family: ubuntu; }

a {
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-left: 20px;
  color: #fff;
  cursor: pointer; }

* {
  box-sizing: border-box; }

.fadeInUp {
  animation-name: fadeUp;
  animation-duration: 1s; }

@keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.slider-sliderContainer {
  max-height: 760px;
  padding: 10px 10px 10px 10px;
  position: relative; }
  .slider-sliderContainer li img {
    width: 100%;
    height: auto;
    height: fit-content; }
  .slider-sliderContainer .slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: -webkit-grab;
    cursor: grab; }
    .slider-sliderContainer .slider ul {
      width: 300%;
      height: 100%;
      display: block;
      zoom: 1; }
      .slider-sliderContainer .slider ul:before, .slider-sliderContainer .slider ul:after {
        content: "";
        display: table; }
      .slider-sliderContainer .slider ul:after {
        clear: both; }
      .slider-sliderContainer .slider ul li {
        width: 33.3333%;
        float: left;
        display: table; }
  .slider-sliderContainer ol {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%); }
    .slider-sliderContainer ol li {
      width: 12px;
      height: 12px;
      display: inline-block;
      border: 2px solid #fff;
      background: transparent;
      border-radius: 50%;
      display: block;
      margin: 0px 0px 20px; }

.sliderContainer-dots .active {
  background-color: #fff; }

.slidead-container {
  position: absolute;
  top: 0px;
  width: 100%;
  display: table-cell;
  vertical-align: middle; }

.slidead-container {
  height: 100%; }
  .slidead-container .container-ad-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    display: table;
    height: 100%; }
    .slidead-container .container-ad-container .container-ad {
      display: table-cell;
      vertical-align: middle; }
  .slidead-container .ad-top {
    text-align: center; }
    .slidead-container .ad-top h1 {
      font-size: 45px;
      font-weight: 100;
      line-height: 68px;
      margin-bottom: 40px;
      color: #fff; }
    .slidead-container .ad-top a {
      display: inline-block;
      font-size: 13px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #fff;
      background-color: #7AE2DE;
      padding: 20px;
      text-decoration: none;
      line-height: 1; }
  .slidead-container .ad-bottom {
    margin-top: 60px;
    padding-top: 25px;
    text-align: center;
    border-top: solid 1px rgba(255, 255, 255, 0.25);
    margin-left: -15px;
    margin-right: -15px; }
    .slidead-container .ad-bottom p {
      color: #fff; }

.slidead-container .container-ad-container {
  width: 88%; }

@media screen and (min-width: 768px) {
  .slidead-container .container-ad-container {
    width: 750px; } }
@media screen and (min-width: 1201px) {
  .slidead-container .container-ad-container {
    width: 1170px; } }
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .slidead-container .container-ad-container {
    width: 970px; } }
.synthetica-slider {
  position: relative; }
  .synthetica-slider .slider-mouseContainer {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    height: 50px;
    transform: translate(-50%, -50%); }
    .synthetica-slider .slider-mouseContainer a {
      -webkit-transition-timing-function: ease;
      transition-timing-function: ease;
      -webkit-transition-duration: 200ms;
      transition-duration: 200ms;
      color: #7AE2DE;
      display: block;
      width: 20px;
      height: 30px;
      border: solid 1px #fff;
      border-radius: 8px; }
      .synthetica-slider .slider-mouseContainer a span {
        display: block;
        width: 4px;
        height: 4px;
        margin: 15% auto auto;
        -webkit-animation: scroll-inner 1.5s;
        animation: scroll-inner 1.5s;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        border-radius: 50%;
        background: #fff; }

@keyframes scroll-inner {
  0% {
    margin-top: 15%;
    opacity: 1; }
  100% {
    margin-top: 75%;
    opacity: 0; } }
.synthetica-logo {
  background-color: #414A52;
  display: inline-block;
  text-align: center;
  padding: 30px 0px; }
  .synthetica-logo a {
    display: inline-block;
    height: 100%; }

.header-synthetica {
  zoom: 1; }
  .header-synthetica:before, .header-synthetica:after {
    content: "";
    display: table; }
  .header-synthetica:after {
    clear: both; }
  .header-synthetica .synthetica-syntheticawrap {
    display: inline-block;
    float: right; }

.syntheticawrap-search {
  zoom: 1;
  background-color: #414A52;
  padding: 32px 30px; }
  .syntheticawrap-search:before, .syntheticawrap-search:after {
    content: "";
    display: table; }
  .syntheticawrap-search:after {
    clear: both; }
  .syntheticawrap-search .search-subscribe {
    border-right: solid 1px #505c66;
    color: #7AE2DE;
    display: inline-block;
    padding: 10px 20px 0px 0px;
    font-size: 15px; }
    .syntheticawrap-search .search-subscribe:after {
      display: block;
      content: "";
      padding-bottom: 10px;
      border-bottom: 2px solid #7AE2DE;
      transform: scaleX(0);
      transition: transform 200ms ease-in-out; }
    .syntheticawrap-search .search-subscribe:hover:after {
      transform: scaleX(1); }
  .syntheticawrap-search .fa-search:before {
    content: "\f002"; }

.syntheticawrap-menu span {
  font-size: 13px;
  border-right: solid 1px #E5E7E9;
  letter-spacing: 1px;
  padding: 5px 20px 0px;
  text-transform: uppercase; }
  .syntheticawrap-menu span:after {
    display: block;
    content: "";
    padding-bottom: 10px;
    border-bottom: 2px solid #7AE2DE;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out; }
  .syntheticawrap-menu span:hover:after {
    transform: scaleX(1); }
  .syntheticawrap-menu span a {
    font-weight: 600;
    color: #414A52;
    font-family: Raleway, Verdana, Arial, sans-serif; }
  .syntheticawrap-menu span a:hover {
    color: #7AE2DE; }
.syntheticawrap-menu span:last-child {
  border-right: none; }

.nav-toggle {
  left: 50%;
  top: 50%;
  padding: 10px 35px 16px 0px;
  position: absolute;
  transform: translate(-50%, -50%); }
  .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
    background: #fff;
    cursor: pointer;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    width: 35px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px; }
  .nav-toggle span:before {
    top: -10px; }
  .nav-toggle span:after {
    bottom: -10px; }

@media screen and (min-width: 1200px) {
  .synthetica-logo {
    width: 340px; }

  .syntheticawrap-menu {
    margin-right: 60px; } }
@media screen and (max-width: 1200px) {
  .synthetica-logo {
    width: 280px; }

  .syntheticawrap-search {
    letter-spacing: 1px;
    font-size: 13px; }

  .syntheticawrap-menu {
    margin-right: 10px; } }
@media screen and (min-width: 1024px) {
  .syntheticawrap-nav {
    visibility: hidden; }

  .syntheticawrap-menu, .syntheticawrap-search, .syntheticawrap-menu span {
    display: inline-block; } }
@media screen and (max-width: 1024px) {
  .syntheticawrap-nav {
    background-color: #414A52;
    visibility: visible;
    position: absolute;
    top: 0;
    right: 0;
    padding: 52px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }

  .syntheticawrap-menu, .syntheticawrap-search .search-searchbar, .syntheticawrap-search .search-subscribe {
    display: none; }

  .hiddenSyntheticawrap {
    display: inline-block;
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #414A52; }
    .hiddenSyntheticawrap .search-subscribe {
      font-size: 30px;
      color: #fff;
      display: block;
      font-weight: 600;
      padding: 10px 20px;
      padding-bottom: 60px;
      text-align: center; }
    .hiddenSyntheticawrap .syntheticawrap-search {
      padding: 0; }

  .hiddenMenu {
    display: block;
    padding: 100px 0 0;
    text-align: center;
    width: 100%; }
    .hiddenMenu span {
      font-size: 30px;
      padding: 10px 20px;
      display: block; }
      .hiddenMenu span a {
        color: #fff;
        padding-bottom: 40px;
        display: inline-block; }
        .hiddenMenu span a:hover {
          color: #7AE2DE; }
      .hiddenMenu span:after {
        border-bottom: none; }

  .close {
    z-index: 99;
    position: fixed; }
    .close a span {
      background-color: transparent; }
    .close a span::before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 0; }
    .close a span::after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      bottom: 0; } }
@media screen and (max-width: 480px) {
  .header-synthetica {
    border-bottom: solid 5px #7AE2DE;
    background-color: #414A52; }

  .synthetica-logo {
    border-bottom: none; }

  .syntheticawrap-nav {
    padding: 49px; } }
@media screen and (min-width: 481px) {
  .synthetica-logo {
    border-bottom: solid 5px #7AE2DE; } }
.synthetica-collective {
  padding: 125px 0px; }
  .synthetica-collective .collective-container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px 15px; }
    .synthetica-collective .collective-container h4 {
      font-size: 15px;
      font-weight: 600;
      margin: 7px 0 65px 0px; }
    .synthetica-collective .collective-container h4:after {
      background-color: #7AE2DE;
      content: '';
      display: block;
      height: 2px;
      margin-top: 15px;
      width: 30px; }
    .synthetica-collective .collective-container .container-collective {
      font-size: 15px;
      font-weight: 600; }
      .synthetica-collective .collective-container .container-collective p {
        font-weight: 100;
        padding-bottom: 25px; }
      .synthetica-collective .collective-container .container-collective .collective-vedio_player {
        background-color: #F4F6F9;
        display: inline-block;
        height: 300px;
        margin-top: 25px;
        margin-bottom: 50px;
        padding: 10px; }
        .synthetica-collective .collective-container .container-collective .collective-vedio_player .video_player-video {
          width: 100%;
          height: 100%;
          position: relative; }
          .synthetica-collective .collective-container .container-collective .collective-vedio_player .video_player-video video {
            width: 100%;
            height: 280px;
            z-index: -1;
            background-size: 100%;
            background-image: url("../../public/images/video-cover.jpg") no-repeat; }
          .synthetica-collective .collective-container .container-collective .collective-vedio_player .video_player-video video[poster] {
            width: 100%;
            height: 100%; }
          .synthetica-collective .collective-container .container-collective .collective-vedio_player .video_player-video img {
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            left: 50%;
            width: 55px;
            height: 55px;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%); }
          .synthetica-collective .collective-container .container-collective .collective-vedio_player .video_player-video .video-controls {
            background-color: transparent;
            bottom: 0;
            width: 100%;
            height: 51px;
            left: 0;
            position: absolute;
            right: 0; }
          .synthetica-collective .collective-container .container-collective .collective-vedio_player .video_player-video .progress-bar {
            bottom: 0;
            left: 0;
            position: absolute;
            width: 100%; }
            .synthetica-collective .collective-container .container-collective .collective-vedio_player .video_player-video .progress-bar .bar {
              height: 8px;
              cursor: pointer;
              overflow: hidden; }
              .synthetica-collective .collective-container .container-collective .collective-vedio_player .video_player-video .progress-bar .bar span {
                background-color: rgba(122, 226, 222, 0.75);
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                height: 10px;
                width: 0px; }

video {
  background-color: #000; }

.duration, .current {
  position: absolute;
  top: -19%;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  text-align: center;
  line-height: 32px;
  font-size: 13px;
  color: #fff; }

.duration {
  right: 6%; }

.current {
  left: 6%; }

@media screen and (max-width: 640px) {
  .synthetica-collective {
    padding: 80px 0; } }
@media screen and (min-width: 768px) {
  .collective-container {
    width: 750px; } }
@media screen and (max-width: 768px) {
  .collective-container {
    width: auto; } }
@media screen and (max-width: 991px) {
  .collective-vedio_player {
    margin: 25px 0 50px 0px; } }
@media screen and (min-width: 640px) {
  .collective-vedio_player {
    width: 568px; } }
@media screen and (min-width: 992px) {
  .collective-container {
    width: 970px;
    box-sizing: border-box; }
    .collective-container h4 {
      display: inline-block;
      float: left;
      margin: 7px 0 65px 60px;
      width: 25%; }
    .collective-container .container-collective {
      display: inline-block;
      width: 67%; }
      .collective-container .container-collective .collective-vedio_player {
        margin-left: -100px; } }
@media screen and (min-width: 1200px) {
  .collective-container {
    width: 1170px; } }
.synthetica-crew {
  background-color: #F4F6F9;
  padding: 125px 0; }
  .synthetica-crew .crew-container {
    box-sizing: border-box;
    margin: 0px auto;
    padding: 0px 15px; }
    .synthetica-crew .crew-container h4 {
      font-size: 15px;
      font-weight: 600;
      margin: 7px 0 65px 60px;
      text-transform: uppercase; }
    .synthetica-crew .crew-container h4:after {
      background-color: #7AE2DE;
      content: "";
      display: block;
      height: 2px;
      margin-top: 15px;
      width: 30px; }
  .synthetica-crew .container-content {
    zoom: 1; }
    .synthetica-crew .container-content:before, .synthetica-crew .container-content:after {
      content: "";
      display: table; }
    .synthetica-crew .container-content:after {
      clear: both; }
    .synthetica-crew .container-content .content-member {
      box-sizing: border-box;
      float: left;
      height: 300px; }
      .synthetica-crew .container-content .content-member .members {
        display: none;
        padding: 15px 15px 25px 15px;
        text-align: center; }
        .synthetica-crew .container-content .content-member .members h2, .synthetica-crew .container-content .content-member .members p {
          color: #fff; }
        .synthetica-crew .container-content .content-member .members h2 {
          font-size: 15px;
          font-weight: 500;
          line-height: 20px;
          text-transform: uppercase; }
        .synthetica-crew .container-content .content-member .members p {
          font-size: 15px;
          line-height: 27px;
          padding: 15px 15px 25px; }
        .synthetica-crew .container-content .content-member .members .crew-socials ul li {
          display: inline-block;
          margin-right: 10px; }
          .synthetica-crew .container-content .content-member .members .crew-socials ul li a {
            color: rgba(255, 255, 255, 0.7); }
            .synthetica-crew .container-content .content-member .members .crew-socials ul li a .fa-twitter:before {
              content: "\f099"; }
            .synthetica-crew .container-content .content-member .members .crew-socials ul li a .fa-linkedin:before {
              content: "\f0e1"; }
      .synthetica-crew .container-content .content-member.content-member:hover .members {
        display: table-cell;
        height: 100%;
        vertical-align: middle; }
      .synthetica-crew .container-content .content-member.content-member:hover .membersLayout {
        background-color: rgba(122, 226, 222, 0.8);
        display: table;
        height: 100%;
        width: 100%; }
    .synthetica-crew .container-content .content-memberOne {
      background: url("../../public/images/crew-peter-finlan.jpg") no-repeat 0px 0px;
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100%; }
    .synthetica-crew .container-content .content-memberTwo {
      background: url("../../public/images/crew-blaz-robar.jpg") no-repeat 0px 0px;
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100%; }
    .synthetica-crew .container-content .content-memberThree {
      background: url("../../public/images/crew-mary-lou.jpg") no-repeat 0px 0px;
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100%; }
    .synthetica-crew .container-content .content-memberFour {
      background: url("../../public/images/crew-dude.jpg") no-repeat 0px 0px;
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100%; }

.container-skillset {
  box-sizing: border-box;
  margin-top: 55px;
  zoom: 1; }
  .container-skillset:before, .container-skillset:after {
    content: "";
    display: table; }
  .container-skillset:after {
    clear: both; }
  .container-skillset .bar-chart-wrapper {
    margin-bottom: 35px;
    position: relative; }
    .container-skillset .bar-chart-wrapper h5 {
      font-size: 13px;
      color: #414A52;
      display: inline-block;
      font-weight: 600;
      text-transform: uppercase; }
      .container-skillset .bar-chart-wrapper h5 .push-right {
        position: absolute;
        right: 0;
        top: 0; }
    .container-skillset .bar-chart-wrapper .bar-wrapper {
      background-color: #414A52;
      width: 100%; }
      .container-skillset .bar-chart-wrapper .bar-wrapper .bar {
        background-color: #7AE2DE;
        height: 10px;
        margin: 10px 0;
        overflow: hidden; }
      .container-skillset .bar-chart-wrapper .bar-wrapper .bar90 {
        width: 90%; }
      .container-skillset .bar-chart-wrapper .bar-wrapper .bar95 {
        width: 95%; }
      .container-skillset .bar-chart-wrapper .bar-wrapper .bar80 {
        width: 80%; }
  .container-skillset .skillset-left, .container-skillset .skillset-right {
    box-sizing: border-box;
    padding: 0 15px; }

@media screen and (min-width: 768px) {
  .crew-container {
    width: 750px; }

  .container-header h4 {
    margin-left: 0px; }

  .content-member {
    padding: 15px;
    width: 50%; }
    .content-member .content-memberOne, .content-member .content-memberTwo, .content-member .content-memberThree, .content-member .content-memberFour {
      background-size: cover;
      background-position: center; }

  .skillset-left, .skillset-right {
    width: 100%; } }
@media screen and (min-width: 992px) {
  .crew-container {
    width: 970px; }

  .content-member {
    padding: 0px 15px;
    width: 25%; }
    .content-member .content-memberOne, .content-member .content-memberTwo, .content-member .content-memberThree, .content-member .content-memberFour {
      background-size: auto; }

  .skillset-left, .skillset-right {
    width: 50%;
    float: left; } }
@media screen and (min-width: 1200px) {
  .crew-container {
    width: 1170px; } }
@media screen and (max-width: 768px) {
  .crew-container {
    width: auto; }

  .content-member {
    padding: 15px 0px;
    width: 100%; }

  .synthetica-crew {
    padding: 80px 0px; } }
.synthetica-stats {
  background: url("../../public/images/stats-bg.jpg") no-repeat center center;
  background-size: cover;
  padding: 160px 0px; }
  .synthetica-stats .stats-container {
    padding: 0px 15px; }
    .synthetica-stats .stats-container .container-stats {
      text-align: left; }
    .synthetica-stats .stats-container .stats-content:last-child {
      margin-bottom: 0px; }
    .synthetica-stats .stats-container .stats-content {
      width: 210px;
      margin: 0 auto 100px;
      text-align: left;
      padding: 0px 15px; }
      .synthetica-stats .stats-container .stats-content i {
        margin: 0;
        margin-right: 0px;
        padding: 0;
        border: 0;
        font: inherit;
        font-family: inherit;
        font-style: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        font-variant-alternates: inherit;
        font-variant-caps: inherit;
        font-variant-east-asian: inherit;
        font-variant-ligatures: inherit;
        font-variant-numeric: inherit;
        font-variant-position: inherit;
        font-size: 100%;
        vertical-align: baseline; }
      .synthetica-stats .stats-container .stats-content i.icon {
        font-size: 50px;
        display: inline-block;
        margin-right: 10px;
        vertical-align: 10px;
        color: #fff; }
      .synthetica-stats .stats-container .stats-content .icon {
        font-family: 'Stroke-Gap-Icons';
        font-weight: normal;
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-transform: none; }
      .synthetica-stats .stats-container .stats-content .icon-Cup:before {
        content: '\e628'; }
      .synthetica-stats .stats-container .stats-content .icon-Book::before {
        content: '\e693'; }
      .synthetica-stats .stats-container .stats-content .icon-Pen::before {
        content: '\e676'; }
      .synthetica-stats .stats-container .stats-content .content-wrapper {
        display: inline-block; }
        .synthetica-stats .stats-container .stats-content .content-wrapper p.wrapper-number {
          font-size: 48px;
          color: #fff;
          font-size: 48px;
          font-family: Montserrat,Georgia,"Times New Roman",serif;
          margin-bottom: 15px; }
        .synthetica-stats .stats-container .stats-content .content-wrapper p.wrapper-text {
          font-size: 15px;
          color: #fff;
          font-weight: 500;
          line-height: .7;
          padding: 0;
          text-transform: uppercase; }

@media screen and (max-width: 640px) {
  .synthetica-stats {
    padding: 80px 0px; } }
@media screen and (min-width: 768px) {
  .stats-container {
    box-sizing: border-box;
    margin: 0px auto;
    width: 750px; }
    .stats-container .container-stats {
      box-sizing: border-box; }
      .stats-container .container-stats .stats-content {
        box-sizing: border-box;
        display: inline-block;
        margin-bottom: 0px;
        text-align: center;
        width: 32%; } }
@media screen and (min-width: 992px) {
  .stats-container {
    width: 970px; } }
.synthetica-articles {
  background-color: #F4F6F9;
  padding: 80px 0; }
  .synthetica-articles .articles-container {
    padding: 0 15px; }
    .synthetica-articles .articles-container h5 {
      display: inline-block; }
    .synthetica-articles .articles-container h4, .synthetica-articles .articles-container h5 {
      font: normal normal 400 15px ubuntu;
      margin: 7px 0 65px 0px;
      text-transform: uppercase; }
    .synthetica-articles .articles-container h4::after {
      background-color: #7AE2DE;
      content: '';
      display: block;
      height: 2px;
      margin-top: 15px;
      width: 30px; }
    .synthetica-articles .articles-container .inputArticle-Sort {
      font-size: 13px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
      border: none;
      border-bottom: solid 2px #7AE2DE;
      background: url("../../public/images/downArrow.png") no-repeat 280px -4px;
      background-color: none;
      color: rgba(65, 74, 82, 0.5);
      margin-left: 0px;
      padding-bottom: 9px;
      width: 300px;
      -webkit-appearance: none;
      -moz-appearance: none; }
    .synthetica-articles .articles-container .post-image {
      background-position: center;
      background-size: cover;
      height: 225px;
      max-height: 250px;
      overflow: hidden;
      position: relative; }
      .synthetica-articles .articles-container .post-image .overlay {
        background: rgba(65, 74, 82, 0.6);
        height: 100%;
        width: 100%; }
      .synthetica-articles .articles-container .post-image .featured-tag {
        font-size: 13px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        background-color: #7AE2DE;
        bottom: 10px;
        color: #fff;
        left: 10px;
        padding: 4px 10px;
        position: absolute;
        z-index: 99; }
    .synthetica-articles .articles-container .post-image-one {
      background-image: url("../../public/images/article-01.jpg"); }
    .synthetica-articles .articles-container .post-image-two {
      background-image: url("../../public/images/article-02.jpg"); }
    .synthetica-articles .articles-container .post-image-three {
      background-image: url("../../public/images/article-03.jpg"); }
    .synthetica-articles .articles-container .post-image-four {
      background-image: url("../../public/images/article-04.jpg"); }
    .synthetica-articles .articles-container .post-image-five {
      background-image: url("../../public/images/article-05.jpg"); }
    .synthetica-articles .articles-container .post-image-six {
      background-image: url("../../public/images/article-06.jpg"); }
    .synthetica-articles .articles-container .post-content h2 {
      font-size: 20px;
      color: #414A52;
      font-weight: 500;
      line-height: 30px;
      padding: 15px 10px 10px 0; }
    .synthetica-articles .articles-container .post-content p {
      color: #414A52;
      font-size: 15px;
      line-height: 27px;
      padding-bottom: 15px; }

.article-footer {
  border-top: solid 1px #E5E7E9;
  padding-top: 15px; }
  .article-footer li {
    display: inline-block;
    font-size: 13px; }
    .article-footer li i {
      color: #414A52; }
  .article-footer li.article-comments {
    float: right;
    zoom: 1; }
    .article-footer li.article-comments:before, .article-footer li.article-comments:after {
      content: "";
      display: table; }
    .article-footer li.article-comments:after {
      clear: both; }

.article-category a {
  color: #7AE2DE; }

.fa-comments::before {
  content: "\f086"; }

.container-bottom {
  text-align: center; }
  .container-bottom a {
    font-size: 13px;
    border: 2px solid #7AE2DE;
    color: #7AE2DE;
    display: inline-block;
    letter-spacing: 1px;
    line-height: 1;
    margin-top: 70px;
    padding: 15px 20px;
    text-transform: uppercase;
    text-decoration: none; }
  .container-bottom a:hover {
    background-color: #7AE2DE;
    color: #fff; }

.container-firstRow, .container-secondRow {
  box-sizing: border-box; }

@media screen and (max-width: 991px) {
  .article-post {
    margin-top: 50px; } }
@media screen and (min-width: 768px) {
  .articles-container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 750px; }

  .head-heading {
    box-sizing: border-box;
    display: inline-block;
    width: 33%; }

  .head-sort {
    box-sizing: border-box;
    display: inline-block;
    float: right;
    text-align: right;
    width: 66%; }

  .inputArticle-Sort {
    margin-left: 25px; } }
@media screen and (min-width: 992px) {
  .articles-container {
    width: 992px; }

  .container-secondRow {
    margin-top: 50px; }

  .firstRow-container, .secondRow-container {
    box-sizing: border-box;
    display: inline-table;
    padding: 0 15px;
    width: 33%; } }
.synthetica-freebies {
  padding: 80px 0; }
  .synthetica-freebies .freebies-intro {
    margin-bottom: 80px;
    padding: 0 15px; }
    .synthetica-freebies .freebies-intro h4 {
      font-size: 15px;
      font-weight: 400;
      margin: 7px 0 65px 0px;
      text-transform: uppercase; }
    .synthetica-freebies .freebies-intro h4:after {
      background-color: #7AE2DE;
      content: "";
      display: block;
      height: 2px;
      margin-top: 15px;
      width: 30px; }
    .synthetica-freebies .freebies-intro .content-first, .synthetica-freebies .freebies-intro .content-second {
      margin-bottom: 20px; }
      .synthetica-freebies .freebies-intro .content-first p, .synthetica-freebies .freebies-intro .content-second p {
        padding-bottom: 15px; }
  .synthetica-freebies .container-firstFreebies-containe {
    height: 500px;
    max-height: 500px;
    overflow: hidden;
    position: relative; }
    .synthetica-freebies .container-firstFreebies-containe img {
      height: 100%;
      left: 0;
      top: 0;
      width: 100%;
      position: absolute; }
    .synthetica-freebies .container-firstFreebies-containe .containe-wrapper {
      display: none;
      position: absolute; }
    .synthetica-freebies .container-firstFreebies-containe .containe-coat {
      background-color: rgba(65, 74, 82, 0.5);
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%; }
  .synthetica-freebies .container-firstFreebies-containe:hover .containe-wrapper {
    color: #fff;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 55; }
    .synthetica-freebies .container-firstFreebies-containe:hover .containe-wrapper .wrapper-like-share {
      font-size: 13px;
      color: #fff;
      left: 30px;
      position: absolute;
      top: 30px;
      width: 35px; }
      .synthetica-freebies .container-firstFreebies-containe:hover .containe-wrapper .wrapper-like-share a {
        color: #fff; }
        .synthetica-freebies .container-firstFreebies-containe:hover .containe-wrapper .wrapper-like-share a .fa-heart-o:before {
          content: "\f08a"; }
        .synthetica-freebies .container-firstFreebies-containe:hover .containe-wrapper .wrapper-like-share a i {
          margin-right: 5px;
          margin-left: 0; }
      .synthetica-freebies .container-firstFreebies-containe:hover .containe-wrapper .wrapper-like-share span {
        position: absolute; }
    .synthetica-freebies .container-firstFreebies-containe:hover .containe-wrapper .wrapper-content {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 85%; }
      .synthetica-freebies .container-firstFreebies-containe:hover .containe-wrapper .wrapper-content span {
        color: rgba(255, 255, 255, 0.5);
        display: block;
        font-size: 13px; }
      .synthetica-freebies .container-firstFreebies-containe:hover .containe-wrapper .wrapper-content h2 {
        font-size: 13px;
        border-bottom: solid 2px #fff;
        color: #fff;
        display: inline-block;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 2px;
        margin-bottom: 30px;
        padding: 15px 30px 30px;
        text-transform: uppercase; }
      .synthetica-freebies .container-firstFreebies-containe:hover .containe-wrapper .wrapper-content a {
        font-size: 13px;
        border: 2px solid #7AE2DE;
        color: #7AE2DE;
        display: inline-block;
        letter-spacing: 1px;
        line-height: 1;
        padding: 15px 20px;
        text-decoration: none;
        text-transform: uppercase; }

@media screen and (max-width: 991px) {
  border-right: none;
  margin-left: 0; }
@media screen and (min-width: 768px) {
  .freebies-intro {
    margin: 0 auto;
    width: 750px; }
    .freebies-intro .content-first {
      border-right: solid 1px #E5E7E9; } }
@media screen and (min-width: 992px) {
  .freebies-intro {
    width: 970px;
    box-sizing: border-box; }
    .freebies-intro h4 {
      padding-left: 60px; }

  .intro-content {
    box-sizing: border-box; }
    .intro-content .content-first, .intro-content .content-second {
      box-sizing: border-box;
      display: inline-block;
      width: 49%; }
    .intro-content .content-first {
      padding-right: 80px; }
    .intro-content .content-second {
      padding-left: 80px; }

  .container-firstFreebies, .container-secondFreebies {
    box-sizing: border-box;
    height: 500px; }

  .container-firstFreebies-containe {
    display: inline-block;
    width: 50%; }

  .right {
    float: right;
    zoom: 1; }
    .right:before, .right:after {
      content: "";
      display: table; }
    .right:after {
      clear: both; } }
.synthetica-getStarted {
  background-image: linear-gradient(225deg, #70f6ea 0%, #51ccdc 100%);
  padding: 90px 0;
  text-align: center; }
  .synthetica-getStarted .getStarted-container {
    color: #fff;
    padding: 0 15px; }
    .synthetica-getStarted .getStarted-container h2 {
      font-family: Raleway, Verdana, Arial, sans-serif;
      color: #fff; }
      .synthetica-getStarted .getStarted-container h2 a {
        border-bottom: solid 2px rgba(255, 255, 255, 0.5);
        font-weight: bold;
        margin-bottom: 5px;
        -webkit-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -o-transition: all 300ms linear;
        transition: all 300ms linear;
        color: #fff; }
    .synthetica-getStarted .getStarted-container .button {
      font-size: 13px;
      border: 2px solid #fff;
      color: #fff;
      display: inline-block;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 1;
      padding: 15px 20px;
      text-transform: uppercase;
      text-decoration: none; }
    .synthetica-getStarted .getStarted-container a {
      color: #fff;
      border-bottom: solid 2px rgba(255, 255, 255, 0.5);
      font-weight: bold;
      margin-bottom: 5px;
      -webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -o-transition: all 300ms linear;
      transition: all 300ms linear; }
    .synthetica-getStarted .getStarted-container a:hover {
      background-color: #fff;
      color: #70f6ea; }

@media screen and (max-width: 640px) {
  .getStarted-container h2 {
    font-size: 24px;
    font-weight: 100;
    line-height: 48px;
    margin-right: 0;
    margin-bottom: 30px; } }
@media screen and (min-width: 640px) {
  .getStarted-container h2 {
    font-size: 28px;
    font-weight: 300;
    line-height: 42px;
    margin: 0 0 20px; } }
@media screen and (min-width: 991px) {
  .getStarted-container h2 {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 0px; } }
.synthetica-footer {
  background-color: #414A52;
  padding: 80px 0; }
  .synthetica-footer .footer-container {
    padding: 0 15px; }
  .synthetica-footer .container-head {
    margin-bottom: 20px;
    padding: 0 15px; }
    .synthetica-footer .container-head img {
      margin-bottom: 10px; }
    .synthetica-footer .container-head p {
      font-size: 14px;
      color: #fff;
      line-height: 27px;
      padding-bottom: 15px; }
      .synthetica-footer .container-head p span {
        font-weight: 600;
        font-style: italic; }
  .synthetica-footer .container-nav {
    border-top: solid 1px rgba(255, 255, 255, 0.15);
    padding-top: 20px; }
    .synthetica-footer .container-nav a {
      border-bottom: dashed 1px rgba(255, 255, 255, 0.25);
      color: #fff;
      display: block;
      padding: 15px 0;
      margin-bottom: 20px;
      font-size: 14px; }
      .synthetica-footer .container-nav a i {
        margin-right: 5px;
        margin-left: 0; }
        .synthetica-footer .container-nav a i.fa-share::before {
          content: "\f064"; }
    .synthetica-footer .container-nav a:hover {
      color: #7AE2DE; }
    .synthetica-footer .container-nav .nav-foot {
      margin: 40px 0 0;
      padding: 0; }
      .synthetica-footer .container-nav .nav-foot p {
        color: #8A9097; }
      .synthetica-footer .container-nav .nav-foot a {
        border-bottom: 0;
        margin: 10px 0 0;
        padding: 0; }

@media screen and (min-width: 768px) {
  .synthetica-footer {
    padding: 125px 0; }
    .synthetica-footer .footer-container {
      width: 750px;
      margin: 0 auto; }
      .synthetica-footer .footer-container .container-nav {
        padding: 40px 0 0 15px;
        border-top: solid 1px rgba(255, 255, 255, 0.15); }
        .synthetica-footer .footer-container .container-nav .nav-left, .synthetica-footer .footer-container .container-nav .nav-right {
          display: inline-block; }
        .synthetica-footer .footer-container .container-nav .nav-foot p {
          display: inline-block; }
        .synthetica-footer .footer-container .container-nav .nav-foot a {
          margin-left: 4px; }
      .synthetica-footer .footer-container a {
        display: inline-block;
        border-bottom: 0;
        padding: 0 35px 30px 0;
        box-sizing: border-box; } }
@media screen and (min-width: 992px) {
  .synthetica-footer .footer-container {
    width: 970px; }

  .nav-right {
    float: right;
    zoom: 1; }
    .nav-right:before, .nav-right:after {
      content: "";
      display: table; }
    .nav-right:after {
      clear: both; } }
@media screen and (min-width: 1200px) {
  .synthetica-footer .footer-container {
    width: 1170px; } }

/*# sourceMappingURL=synthetica.css.map */
