.slider-sliderContainer{
	max-height: 760px;
	padding: 10px 10px 10px 10px;
	position: relative;

	li img{
		width: 100%;
		height: auto;
		height: fit-content;
	}
	.slider{
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		cursor: -webkit-grab;
		cursor: grab;
		ul{
			@include clearfix;
			width: 300%;
			height: 100%;
			display: block;
			
			li{
				display: table;
				float: left;
				width: 33.3333%;
			}
		}
	}
	ol{
		position: absolute;
		right: 25px;
		top: 50%;
		transform: translateY(-50%);

		li{
			@include border-radius(50%);
			border: 2px solid #fff;
			background: transparent;
			display: block;
			// display: inline-block;
			height: 12px;
			margin: 0px 0px 20px;
			width: 12px;
		}
	}

}
.sliderContainer-dots .active{
	background-color: #fff;
}
.slidead-container{
	display: table-cell;
	position: absolute;
	top: 0px;
	width: 100%;
	vertical-align: middle;
}
.slidead-container{
	height: 100%;
	.container-ad-container{
		box-sizing: border-box;
		display: table;
		height: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;	
		.container-ad{
			display: table-cell;
			vertical-align: middle;
		}	
	}

	.ad-top{
		text-align: center;
		h1{
			@include font-size(45px);
			font-weight: 100;
			line-height: 68px;
			margin-bottom: 40px;
			color: $white;
		}
		a{
			@include font-size(13px);
			background-color: $basic2;
			color: $white;
			display: inline-block;
			letter-spacing: 1px;
			text-transform: uppercase;
			padding: 20px;
			text-decoration: none;
			line-height: 1;
		}
	}
	.ad-bottom{
		margin-top: 60px;
		padding-top: 25px;
		text-align: center;
		border-top: solid 1px rgba(255,255,255,0.25);
		margin-left: -15px;
		margin-right: -15px;
		p {
			color: $white;
		}
	}
}
.slidead-container .container-ad-container {
	width: 88%;
}
@media screen and (min-width: 768px){
	.slidead-container .container-ad-container {
		width: 750px;
	}	
}
@media screen and (min-width: 1201px){
	.slidead-container .container-ad-container {
		width: 1170px;
	}	
}
@media screen and (min-width: 992px) and (max-width: 1200px){
	.slidead-container .container-ad-container {
		width: 970px;
	}	
}

.synthetica-slider{
	position: relative;
	.slider-mouseContainer{
		position: absolute;
		bottom: 0;
		left: 50%;
		display: block;
		height: 50px;
		transform: translate(-50%,-50%);

		a{
			-webkit-transition-timing-function: ease;
			transition-timing-function: ease;
			-webkit-transition-duration: 200ms;
			transition-duration: 200ms;
			color: #7AE2DE;
			display: block;
			width: 20px;
			height: 30px;
			border: solid 1px #fff;
			border-radius: 8px;

			span{
				display: block;
				width: 4px;
				height: 4px;
				margin: 15% auto auto;
				-webkit-animation: scroll-inner 1.5s;
				animation: scroll-inner 1.5s;
				-webkit-animation-timing-function: ease;
				animation-timing-function: ease;
				-webkit-animation-iteration-count: infinite;
				animation-iteration-count: infinite;
				border-radius: 50%;
				background: #fff;
			}
		}
	}	
}
@keyframes scroll-inner{
	0%{
		margin-top: 15%;
		opacity: 1;
	}
	100%{
		margin-top: 75%;
		opacity: 0;
	}
}
