//colors

$black: #000;
$white: #fff;
$basic1: #414A52;
$basic2: #7AE2DE;
$basic3: #8A9097;
$basic4: #70f6ea;
$basic5: #E5E7E9;
$basic6: #F4F6F9;

//standard sizes and families

$base-size: 10px;

$font-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-secondary: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;
$font-third: Raleway,Verdana,Arial,sans-serif;

