.header-synthetica
	.synthetica-logo
		a(href="#")
			img(src="../../public/images/synthetica-logo.png")
	.synthetica-syntheticawrap
		.syntheticawrap-menu
			ul
				li
					a(href="#")
						|THE COLLECTIVE
				li
					a(href="#")
						|THE CREW
				li
					a(href="#")
						|ARTICLES
				li
					a(href="#")
						|FREEBIES
		.syntheticawrap-search
			span.search-subscribe(href="#")
				a
					|SUBSCRIBE
			a.search-searchbar
				i.fa.fa-search

	#nav.syntheticawrap-nav
		a(href="#").nav-toggle
			span

