.header-synthetica
	.synthetica-logo
		a(href="#")
			img(src="../../public/images/synthetica-logo.png")
	.synthetica-syntheticawrap
		.syntheticawrap-menu
			span
				a(href="#")
					|THE COLLECTIVE
			span
				a(href="#")
					|THE CREW
			span
				a(href="#")
					|ARTICLES
			span
				a(href="#")
					|FREEBIES
		.syntheticawrap-search
			span.search-subscribe(href="#")
				a
					|SUBSCRIBE
			a.search-searchbar
				i.fa.fa-search

	#nav.syntheticawrap-nav
		a(href="#").nav-toggle
			span

