.slider-sliderContainer
	.slider
		ul.slides
			li.slide0
				img(src="../../public/images/hero-bg-01.jpg")
				.slidead-container
					.container-ad-container
						.container-ad
							.ad-top
								h1 Introducing, Synthetica. A blissful HTML5/CSS3 Template, free forever.
								a(href="#") LEARN MORE
							.ad-bottom
								p Synthetica is a <span>Free</span> , HTML5/CSS3 template, available for download exclusively via Codrops. 

			li.slide1
				img(src="../../public/images/hero-bg-02.jpg")
				.slidead-container
					.container-ad-container
						.container-ad
							.ad-top
								h1 Get a head start, with the Synthetica Sketch file.
								a(href="#") Download Sketch File
							.ad-bottom
								p Create your landing page in minutes with Synthetica's Sketch style guide. 
			li.slide2
				img(src="../../public/images/hero-bg-03.jpg")
				.slidead-container
					.container-ad-container
						.container-ad
							.ad-top
								h1  Download Synthetica today, it's free forever.
								a(href="#") Download Template
							.ad-bottom
								p Available exclusively from Codrops. 

	ol.sliderContainer-dots


.slider-mouseContainer
	a
		span